@use "sass:math";

.main-card {
    --cs-main-card-span-color: #{$primary};
    --cs-main-card-h1-fs: #{math.div(37, 16)}em;
    --cs-main-card-h2-fs: #{math.div(18, 16)}em;

    border-radius: 30px;
    padding: 16px 14px 0;
    min-height: calc(90vw * 1.66);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 30% bottom;

    h1, h2 {
        text-transform: uppercase;

        span {
            color: var(--cs-main-card-span-color);
        }
    }

    h1 {
        font-size: var(--cs-main-card-h1-fs);
        margin: 30px 0 20px;
    }

    h2 {
        font-size: var(--cs-main-card-h2-fs);
        font-weight: 600;
        margin: 0 0 40px;
    }

    &__badge {
        --#{$prefix}badge-font-weight: 500;
        --#{$prefix}badge-font-size: .65em;

        text-transform: uppercase;
    }

    &[data-span="alt"] {
        --cs-main-card-span-color: #{$secondary};
    }

    &[data-about] {
        background:
                url("@images/about/bg-right__xs.png") right bottom / auto 100% no-repeat,
                url("@images/about/bg-left.png") left -12%/70% no-repeat,
                url("@images/about/bg-1.jpg") center / cover no-repeat;
    }

    &[data-zoom="from-xs"] {
        --cs-main-card-x: 1.5em;

        font-size: calc(var(--cs-main-card-x) * (var(--view-width) / var(--cs-breakpoint-max)));
    }

    @include media-breakpoint-only(xs) {
        &[data-zoom="xs"] {
            --cs-main-card-x: 1.2em;

            font-size: calc(var(--cs-main-card-x) * (var(--view-width) / var(--cs-breakpoint-max)));
        }
    }

    @include media-breakpoint-up(sm) {
        --cs-main-card-h1-fs: #{math.div(46, 16)}em;

        padding: 60px 10px;
        min-height: 930px;
        background-position: 14% bottom;

        h2 {
            margin: 0 6% 40px;
        }

        &__badge {
            --#{$prefix}badge-font-size: .75em;
        }
    }

    @include media-breakpoint-up(md) {
        --cs-main-card-h1-fs: #{math.div(54, 16)}em;

        padding: 40px 2%;
        min-height: 600px;
        background-position: center bottom;

        h1 {
            span {
                white-space: pre;
            }
        }

        h2 {
            margin: 0 15% 40px;
        }

        &__badge {
            --#{$prefix}badge-font-weight: 500;
            --#{$prefix}badge-font-size: .86em;
        }

        &[data-zoom="from-xs"] {
            --cs-main-card-x: 1.1em;
        }

        &[data-about] {
            background:
                    url("@images/about/bg-right.png") right bottom / auto 100% no-repeat,
                    url("@images/about/bg-left.png") left top no-repeat,
                    url("@images/about/bg-1.jpg") center / cover no-repeat;
        }
    }

    @include media-breakpoint-up(lg) {
        --cs-main-card-h1-fs: #{math.div(62, 16)}em;

        padding: 40px 5%;
        min-height: 690px;
        background-position: center bottom;

        h2 {
            margin: 0 22% 40px;
        }
    }
}