.phrases-box {
    overflow: hidden;

    &-list {
        white-space: nowrap;
        animation: scroll-x-to-left 50s infinite linear;
        margin-bottom: 0;

        &.reverse {
            animation-direction: reverse;
        }

        &__item {
            --bs-btn-border-width: 2px;
            --bs-btn-padding-y: .665rem;
            --bs-btn-padding-x: 2rem;
            --bs-btn-font-size: .8em;

            text-transform: uppercase;
            pointer-events: none;
            position: relative;

            &.btn-link {
                --bs-link-color: #{$light};
                --bs-btn-font-size: 1.2em;
                --bs-btn-font-weight: 600;
                --bs-btn-padding-x: 1rem;

                text-decoration: none;

                &:after {
                    content: "/";
                    position: absolute;
                    right: 0;
                    transform: skew(-30deg, 0) translateX(.5rem) scale(0.8);
                    font-weight: 500;
                }
            }
        }
    }

    @if $enable-reduced-motion {
        @media (prefers-reduced-motion: reduce) {
            &-list {
                animation: none;
            }
        }
    }
}