@use "sass:math";

.quiz-form {
    $quizform: &;

    --cs-quiz-form-padding-x: 1.5rem;
    --cs-quiz-form-padding-y: 1.5rem;

    border-radius: 20px;
    padding: var(--cs-quiz-form-padding-y) var(--cs-quiz-form-padding-x);
    box-shadow: 0 0 10px rgba(0,0,0,.3);

    &__step {
        font-size: #{math.div(18, 16)}rem;
        font-weight: 700;

        span:last-child {
            font-size: #{math.div(24, 16)}rem;
            font-weight: 500;
        }
    }

    &-modals {
        box-shadow: none;

        .progress {
            --#{$prefix}progress-height: 5px;

            margin-right: calc(var(--cs-quiz-form-padding-x)* -1);
            margin-left: calc(var(--cs-quiz-form-padding-x)* -1);
        }

        .form-control-no-bg {
            padding-left: $input-padding-x-lg;
        }
    }

    label {
        font-size: #{math.div(18, 16)}rem;
    }

    .form-control-no-bg.text-bg-primary::placeholder {
        color: rgba($light, .6);
    }

    &--bordered {
        box-shadow: none;
        border: 2px solid $light;
        //position: relative;
        background-image: linear-gradient($accent 0, $accent 124px, transparent 124px);

        #{$quizform}__step {
            span:first-child {
                color: $primary
            }

        }
    }

    @include media-breakpoint-up(sm) {
        --cs-quiz-form-padding-x: 2.5rem;
        --cs-quiz-form-padding-y: 2rem;
    }
}
