@use "sass:math";

.social-box {
    border-radius: 30px;
    position: relative;
    padding-top: 50px;

    &::after {
        content: "";
        background-color: #f6b0bb;
        width: 316px;
        height: 326px;
        position: absolute;
        bottom: 0;
        left: calc(50% - 316px/2);
        z-index: 2;

        filter: blur(172px);
    }

    h2 {
        font-size: #{math.div(25, 16)}rem;
    }

    p {
        opacity: .6;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.3;
    }

    &__links,
    &__smartphone {
        position: relative;
        z-index: 3;
    }

    &__links {
        a {
            background-size: contain;
            overflow: hidden;
            text-indent: -500px;
            width: 50px;
            height: 50px;
        }
    }

    &__smartphone {
        background-image: url("@images/smartphone.png");
        background-size: 100%;
        width: 60%;
        padding-bottom: 78%;
        //height: 327px;
        margin: 0 auto;
    }

    @include media-breakpoint-up(sm) {
        padding-top: 80px;

        h2 {
            font-size: 2rem;
        }

        p {
            //font-size: 1rem;
        }

        &__smartphone {
            height: 350px;
        }

        &__links {
            a {
                width: 60px;
                height: 60px;
            }
        }
    }

    @include media-breakpoint-up(md) {
        padding: 55px 0;
        margin-top: 70px;

        &:after {
            left: math.div(100, 8) * 5%; // col-md-5 size
        }

        &__smartphone {
            width: 283px;
            height: 444px;
            position: absolute;
            bottom: 0;
            padding-bottom: 0;
        }
    }
}