@use 'sass:math';

[class*="transport-box"], {
    position: relative;
    z-index: 2;
}

.transport-box {
    $box: &;
    --cs-transport-blur-top: calc(50% - 20vw);
    --cs-transport-blur-left: calc(50% - 20vw);
    --cs-transport-blur-width: 50vw;
    --cs-transport-blur-filter: blur(25vw);
    --cs-transport-base-fs: 1em;
    --cs-transport-title-fs: 2.7em;
    --cs-transport-desc-fs: 1.5em;
    --cs-transport-attr-fs: 1.5em;
    --cs-transport-btn-fs: 1.5em;
    --cs-transport-min-height: calc(100vh - var(--bs-gutter-x));
    --cs-transport-height: auto;
    --cs-transport-padding: 8% 5%;

    position: sticky;
    top: 0;

    background-color: #c9dff1;
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    min-height: var(--cs-transport-min-height);
    height: var(--cs-transport-height);
    padding: var(--cs-transport-padding);
    font-size: calc(var(--cs-transport-base-fs) * (var(--view-width) / var(--cs-breakpoint-max)));
    overflow: hidden;
    //position: relative;
    z-index: 0;

    display: flex;
    flex-direction: column;

    &:after {
        content: '';
        position: absolute;
        border-radius: 3000px;
        top: var(--cs-transport-blur-top);
        left: var(--cs-transport-blur-left);
        width: var(--cs-transport-blur-width);
        height: var(--cs-transport-blur-width);
        filter: var(--cs-transport-blur-filter);
        background-color: #f5f5f5;
    }

    &--dark {
        background-color: $primary;
        color: $light;

        &:after {
            //content: "";
        }
    }

    &__title {
        font-size: var(--cs-transport-title-fs);
        position: relative;
        margin: 10px 0 0;
        width: fit-content;

        h2 {
            font-size: 1em;
        }
    }

    &__desc {
        font-size: var(--cs-transport-desc-fs);
        font-weight: 500;
        line-height: 1.3;
    }

    &__badge {
        position: absolute;
        top: -1.5em;
        right: 0;
        transform: rotate(3.5deg) translateX(50%);
    }

    &__img {
        width: 80%;
        height: 100%;
        margin: auto;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        padding-bottom: 60%;
    }

    &__bg {
        @extend .fit-bg;
    }

    &-attr {
        display: grid;

        &__col {
            display: flex;
            justify-content: space-between;
            align-items: center;

            position: relative;
            font-size: var(--cs-transport-attr-fs);
            font-weight: 500;

            &:before {
                content: '';
                position: absolute;
                top: 0;
                background-color: $light;
                height: 2px;
                opacity: .5;
                width: 100%;
            }
        }

        &__key {
            opacity: .8;
        }

        &__value {
            font-weight: 700;

            span {
                font-size: 2em;
            }
        }

    }

    &-btn {
        display: grid;

        &__item {
            font-size: var(--cs-transport-btn-fs);
        }
    }

    &__holder {
        flex-basis: 200px;
    }

    &__inner {
        height: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &--page {
        &:after {
            content: none;
        }

        #{$box}__title {
            text-transform: uppercase;
        }

        justify-content: center;
    }

    @include media-breakpoint-up(sm) {
        --cs-transport-title-fs: 3.2em;
        --cs-transport-desc-fs: 1.35em;
        --cs-transport-min-height: auto;
        --cs-transport-height: 110vw;
        --cs-transport-padding: 6% 5vw 5vw;

        &__img {
            padding-bottom: 0;
        }

        &__title {
            margin-top: 20px;
        }

        &__desc {
            font-weight: 500;
        }

        &__badge {
            font-size: .4em;
        }

        &-attr {
            grid-template-columns: 38% 1fr auto;

            &__col {
                flex-direction: column;
                align-items: start;

                &:before {
                    content: none;
                }
            }

            &__key {
                font-size: .8em;
            }
        }

        &-btn {
            display: flex;

            &__item {
                flex: 1 50%;
            }
        }

        &__inner {
            width: 540px;
            min-height: 430px;
        }

        &--page {
            --cs-transport-height: 680px;
            --cs-transport-padding: 0;
            --cs-transport-attr-fs: 1.3em;
            --cs-transport-base-fs: 0.88em;


        }
    }

    @include media-breakpoint-up(md) {
        --cs-transport-blur-top: 5%;
        --cs-transport-blur-left: calc(90% - 350px);
        --cs-transport-blur-width: 350px;
        --cs-transport-blur-filter: blur(170px);
        --cs-transport-title-fs: 2.65em;
        --cs-transport-desc-fs: 1.1em;
        --cs-transport-attr-fs: 1.3em;
        --cs-transport-min-height: calc((100vw - var(--bs-gutter-x)) * 0.5215);
        --cs-transport-height: auto;

        &__desc,
        &-attr {
            margin-right: 45%;
        }

        &__title {
            margin-top: 0;
            margin-bottom: .2em;
        }

        &__img {
            position: absolute;
            width: 37%;
            right: 0;
            top: 0;
            background-position: center 10%;
        }

        &-attr {
            grid-template-columns: 1fr 1fr;
            gap: 2em;
        }

        &-attr__col {
            line-height: 1.15;
        }

        &-btn__item {
            font-size: var(--bs-btn-font-size);
        }

        &__inner {
            width: 540px;
            margin-left: 0;
        }

        &--page {
            --cs-transport-title-fs: 3em;
            --cs-transport-padding: 0;
            --cs-transport-height: 551px;
            --cs-transport-min-height: auto;
            //--cs-transport-base-fs: 0.95em;
            //padding-right: 40%;

            #{$box}-attr {
                grid-template-columns: 38% 1fr auto;
                gap: 0;
            }
        }
    }

    @include media-breakpoint-up(lg) {
        --cs-transport-title-fs: 2.15em;
        --cs-transport-desc-fs: .95em;
        --cs-transport-attr-fs: 1.5em;
        --cs-transport-min-height: calc((100vw - var(--bs-gutter-x)) * 0.41);
        --cs-transport-padding: 5vw;



        &__desc {
            margin-right: 46%;
        }

        &__title {
            margin-bottom: .5em;
        }

        &__badge {
            font-size: 0.35em;
            top: -1.2em;
        }

        &-attr {
            grid-template-columns: repeat(3, 1fr);
        }

        &-attr__key {
            font-size: .5em;
        }

        &-attr__value {
            white-space: nowrap;
            font-size: .9em;
        }

        &-btn__item {
            --bs-btn-padding-y: #{math.div(23, 16)}em;
            --bs-btn-font-size: .8em;
        }

        &__inner {
            width: 630px;
        }

        &--page {
            --cs-transport-title-fs: 2.8em;
            --cs-transport-desc-fs: .85em;
            --cs-transport-min-height: auto;
            //--cs-transport-base-fs: 0.8em;
            --cs-transport-padding: 0;
            //padding-right: 45%;
        }
    }
}