<footer class="footer bg-dark py-6">
	<div class="container text-light">
		<div class="row">
			<div class="col-8">
				<div class="w-100 border-top border-light border-opacity-25 pb-6"></div>
			</div>
			<div class="col-8 col-sm-3 col-md-2 mb-4 mb-sm-0">
				<a href="#" class="footer-logo"></a>
				<address class="footer-content mt-5">
					Адрес:<br>
					Москва, Бакунинская улица, 74-76к1<br><br>

					<span>ИП Арестов Иван Валерьевич<br>
							ОГРНИП: 322508100419539</span>
				</address>
			</div>
			<div class="col-5 col-md-6">
				<div class="row">
					<div class="col-8 col-md-3 footer-content">
						<strong>График работы:</strong>
						<br>
						<br>
						пн—пт 10:00—19:00<br>
						сб 9:00—16:00<br>
						вс—выходной<br>
					</div>
					<div class="col-8 col-md-3 ms-auto mt-5 mt-md-0">
						<nav class="footer-nav">
							<a class="" href="#">Услуги</a>
							<a class=" " href="#">О нас</a>
							<a class=" " href="#">Сатьи</a>
							<a class=" " href="#">Контакты</a>
						</nav>
					</div>
				</div>
			</div>
			<div class="col-8 footer-content mt-4">
				<span><a class="" href="#">Политика конфиденциальности</a></span><br>
				<span><a class="" href="#">Разработка сайта</a></span>
			</div>
		</div>
	</div>
	{{> chat-box}}
</footer>