<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{pageTitle}} | {{title}}</title>
<script src="./js/main.js" type="module"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&subset=latin,cyrillic"
      rel="stylesheet">
<link rel="icon" type="image/png" sizes="32x32" href="./images/favicon/ico-32-light.png" media="(prefers-color-scheme: light)">
<link rel="icon" type="image/png" sizes="32x32" href="./images/favicon/ico-32-dark.png" media="(prefers-color-scheme: dark)">
<link rel="icon" type="image/svg+xml" sizes="any" href="./images/favicon/ico-svg.svg">
<link rel="apple-touch-icon" type="image/png" href="./images/favicon/ico-180.png">
<link rel="icon" type="image/png" sizes="192x192" href="./images/favicon/ico-180.png">