<header id="c2r-header" class="container-fluid header-sticky">
	<div class="header row gx-6 flex-nowrap">
		<div class="col header-logo">
			<a href="#" class="header-logo__img">{{title}}</a>
		</div>
		<div class="col-auto header-menu d-none d-md-block">
			<nav class="nav nav-underline dropdown">
				<div class="dropdown-center">
					<a class="nav-link header-menu__link dropdown-toggle js-dropdown-toggle" aria-current="page" href="#">Доставка из китая</a>
					<ul class="dropdown-menu header-menu__dropdown">
						<span class="dropdown-menu-corner"></span>
						<li><a class="dropdown-item text-uppercase mb-3" href="#"><strong>Доставка из китая</strong></a></li>
						<li><a class="dropdown-item icon-link" href="#"><img src="images/icons/menu-icon-cargo.png" width="30" height="30" alt="cargo" loading="lazy">Карго</a></li>
						<li><a class="dropdown-item icon-link" href="#"><img src="images/icons/menu-icon-avto.png" width="30" height="30" alt="cargo" loading="lazy">Автодоставка</a></li>
						<li><a class="dropdown-item icon-link" href="#"><img src="images/icons/menu-icon-aero.png" width="30" height="30" alt="cargo" loading="lazy">Авиадоставка</a></li>
						<li><a class="dropdown-item icon-link" href="#"><img src="images/icons/menu-icon-sea.png" width="30" height="30" alt="cargo" loading="lazy">Доставка морем</a></li>
						<li><a class="dropdown-item icon-link" href="#"><img src="images/icons/menu-icon-train.png" width="30" height="30" alt="cargo" loading="lazy">Ж/Д</a></li>
						<li><a class="dropdown-item icon-link" href="#"><img src="images/icons/menu-icon-multi.png" width="30" height="30" alt="cargo" loading="lazy">Мультимодальные перевозки</a></li>
					</ul>
				</div>
				<a class="nav-link header-menu__link" href="#">Выкуп</a>
				<a class="nav-link header-menu__link" href="#">О нас</a>
				<a class="nav-link header-menu__link" href="#">Кейсы</a>
				<a class="nav-link header-menu__link" href="#">Блог</a>
				<a class="nav-link header-menu__link" href="#">Контакты</a>
			</nav>
		</div>
		<div class="col-auto header-contacts d-none d-md-flex align-items-center gap-4">
			<a href="#" class="header-contacts__phone me-4">+7 (495) 255-52-82</a>
			<a href="#"><img src="images/icons/Telegram.svg" width="30" height="30" alt="tg" loading="lazy"></a>
			<a href="#"><img src="images/icons/Whatsapp.svg" width="30" height="30" alt="whatsapp" loading="lazy"></a>
		</div>
		<div class="col-auto header-buttons d-none d-lg-flex justify-content-end">
			<a href="#" class="btn btn-primary btn-sm">Калькулятор доставки</a>
		</div>
		<div class="col-auto d-md-none">
			<a href="javascript:void(0)" class="btn btn-link p-0 header-burger" data-bs-toggle="offcanvas" data-bs-target="#mobile-header" aria-controls="mobile-header">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18" width="32px">
					<g>
						<rect fill="#d60628" height="2" width="18" x="0" y="3"/>
						<rect fill="#d60628" height="2" width="18" x="0" y="8"/>
						<rect fill="#d60628" height="2" width="18" x="0" y="13"/>
					</g>
				</svg>
			</a>
		</div>
	</div>
	<div class="offcanvas offcanvas-top" tabindex="-1" id="mobile-header" data-bs-scroll="true">
		<div class="offcanvas-body d-flex flex-column mb-4">
			<div class="header row gx-6 flex-nowrap">
				<div class="col header-logo">
					<a href="#" class="header-logo__img">{{title}}</a>
				</div>
				<div class="col-auto">
					<button type="button" class="btn-close header-offcanvas-close" data-bs-dismiss="offcanvas" aria-label="Закрыть"></button>
				</div>
			</div>
			<nav class="nav nav-underline dropdown flex-column align-items-center">
				<div class="dropdown-center">
					<a class="nav-link header-menu__link dropdown-toggle js-dropdown-toggle" aria-current="page" href="#">Доставка из китая</a>
					<ul class="dropdown-menu header-menu__dropdown">
						<span class="dropdown-menu-corner"></span>
						<li><a class="dropdown-item text-uppercase mb-3" href="#"><strong>Доставка из китая</strong></a></li>
						<li><a class="dropdown-item icon-link" href="#"><img src="images/icons/menu-icon-cargo.png" width="30" height="30" alt="cargo" loading="lazy">Карго</a></li>
						<li><a class="dropdown-item icon-link" href="#"><img src="images/icons/menu-icon-avto.png" width="30" height="30" alt="cargo" loading="lazy">Автодоставка</a></li>
						<li><a class="dropdown-item icon-link" href="#"><img src="images/icons/menu-icon-aero.png" width="30" height="30" alt="cargo" loading="lazy">Авиадоставка</a></li>
						<li><a class="dropdown-item icon-link" href="#"><img src="images/icons/menu-icon-sea.png" width="30" height="30" alt="cargo" loading="lazy">Доставка морем</a></li>
						<li><a class="dropdown-item icon-link" href="#"><img src="images/icons/menu-icon-train.png" width="30" height="30" alt="cargo" loading="lazy">Ж/Д</a></li>
						<li><a class="dropdown-item icon-link" href="#"><img src="images/icons/menu-icon-multi.png" width="30" height="30" alt="cargo" loading="lazy">Мультимодальные перевозки</a></li>
					</ul>
				</div>
				<a class="nav-link header-menu__link" href="#">Выкуп</a>
				<a class="nav-link header-menu__link" href="#">О нас</a>
				<a class="nav-link header-menu__link" href="#">Кейсы</a>
				<a class="nav-link header-menu__link" href="#">Блог</a>
				<a class="nav-link header-menu__link" href="#">Контакты</a>
			</nav>
			<div class="d-flex justify-content-center mb-5 mt-auto">
				<a href="#" class="header-contacts__phone me-4">+7 (495) 255-52-82</a>
			</div>
			<div class="d-flex justify-content-center gap-4 mb-5">
				<a href="#"><img src="images/icons/Telegram.svg" width="30" height="30" alt="tg" loading="lazy"></a>
				<a href="#"><img src="images/icons/Whatsapp.svg" width="30" height="30" alt="whatsapp" loading="lazy"></a>
			</div>
			<div class="d-flex justify-content-center mb-5">
				<a href="#" class="btn btn-primary btn-sm mx-auto">Калькулятор доставки</a>
			</div>
		</div>
	</div>
</header>