<div class="container advantages-box g-md-5">
	<div class="row g-md-3">
		<div class="col-8 col-md-5 pe-md-5">
			<div class="title-box mb-7">
				<h2><span>Плюсы</span> железнодорожной доставки</h2>
			</div>
			<div class="row row-cols-2 g-2 row-gap-5 mb-6">
				<div class="col">
					<dl class="icon-wrap-text" data-icon="thumbs-up">
						<dt class="icon-wrap-text__title">Скорость и предсказуемость</dt>
						<dd class="icon-wrap-text__desc">Время доставки по железной дороге значительно меньше, чем при
							морской перевозке,
							и составляет в среднем 15-20 дней. При этом сроки четко соблюдаются, что позволяет точно
							планировать поставки.
						</dd>
					</dl>
				</div>
				<div class="col">
					<dl class="icon-wrap-text" data-icon="thumbs-up">
						<dt class="icon-wrap-text__title">Экономичность</dt>
						<dd class="icon-wrap-text__desc">Железнодорожная доставка — один из самых экономичных
							способов транспортировки грузов на большие расстояния. Стоимость перевозки на поезде
							обычно ниже, чем у авиаперевозок и автотранспорта.
						</dd>
					</dl>
				</div>
				<div class="col">
					<dl class="icon-wrap-text" data-icon="thumbs-up">
						<dt class="icon-wrap-text__title">Безопасность груза</dt>
						<dd class="icon-wrap-text__desc">Поезда движутся по строго определенным маршрутам, что
							минимизирует риски задержек и повреждений груза. Контейнеры, используемые для перевозки,
							обеспечивают надежную защиту товаров.
						</dd>
					</dl>
				</div>
				<div class="col">
					<dl class="icon-wrap-text" data-icon="thumbs-up">
						<dt class="icon-wrap-text__title">Универсальность</dt>
						<dd class="icon-wrap-text__desc">Возможность перевозки самых разных типов грузов – от **сборных
							грузов**
							до негабаритных и специализированных товаров. Это делает железнодорожные перевозки
							универсальным решением для бизнеса любого масштаба.
						</dd>
					</dl>
				</div>
			</div>
		</div>
		<div class="col-8 col-md-3">
			<picture>
				<source srcset="images/content/pic-train.webp" media="(min-width: 940px)">
				<img src="images/content/pic-train_mob.webp" width="100%" alt="train" class="rounded-5">
			</picture>
		</div>
	</div>
	<div class="py-5"></div>
	<div class="row g-md-3">
		<div class="col-8 col-md-5 ps-md-5">
			<div class="title-box mb-7" data-span="alt">
				<h2><span>Минусы</span> ЖД перевозок</h2>
			</div>
			<div class="row row-cols-2 g-2 row-gap-5 mb-6">
				<div class="col">
					<dl class="icon-wrap-text" data-icon="thumbs-down">
						<dt class="icon-wrap-text__title">Скорость и предсказуемость</dt>
						<dd class="icon-wrap-text__desc">Время доставки по железной дороге значительно меньше, чем при
							морской перевозке,
							и составляет в среднем 15-20 дней. При этом сроки четко соблюдаются, что позволяет точно
							планировать поставки.
						</dd>
					</dl>
				</div>
				<div class="col">
					<dl class="icon-wrap-text" data-icon="thumbs-down">
						<dt class="icon-wrap-text__title">Экономичность</dt>
						<dd class="icon-wrap-text__desc">Железнодорожная доставка — один из самых экономичных
							способов транспортировки грузов на большие расстояния. Стоимость перевозки на поезде
							обычно ниже, чем у авиаперевозок и автотранспорта.
						</dd>
					</dl>
				</div>
				<div class="col">
					<dl class="icon-wrap-text" data-icon="thumbs-down">
						<dt class="icon-wrap-text__title">Безопасность груза</dt>
						<dd class="icon-wrap-text__desc">Поезда движутся по строго определенным маршрутам, что
							минимизирует риски задержек и повреждений груза. Контейнеры, используемые для перевозки,
							обеспечивают надежную защиту товаров.
						</dd>
					</dl>
				</div>
				<div class="col">
					<dl class="icon-wrap-text" data-icon="thumbs-down">
						<dt class="icon-wrap-text__title">Универсальность</dt>
						<dd class="icon-wrap-text__desc">Возможность перевозки самых разных типов грузов – от **сборных
							грузов**
							до негабаритных и специализированных товаров. Это делает железнодорожные перевозки
							универсальным решением для бизнеса любого масштаба.
						</dd>
					</dl>
				</div>
			</div>
		</div>
		<div class="col-8 col-md-3 order-md-first">
			<picture>
				<source srcset="images/content/pic-train-bottom.webp" media="(min-width: 940px)">
				<img src="images/content/pic-train-bottom_mob.webp" width="100%" alt="train" class="rounded-5">
			</picture>
		</div>
	</div>
</div>