<section class="articles articles-carousel overflow-x-hidden bg-dark py-6">

	<div class="container title-box title-box-sm-center title-box-light my-7" data-zoom="xs">
		<div class="h2">Статьи о бизнесе с Китаем</div>
		<p>Здесь много полезного для тех, кто интересуется закупками товаров из Китая и их выгодной продажей. А также
			найдете много советов, лайфхаков и схем заработка, даже если просто хотите посмотреть.</p>
	</div>

	<div class="container-md cs-carousel js-carousel-gallery"
		 data-options='{"viewport":{"lg": 3, "md": 3, "sm": 2, "xs": 1}}'>
		<div class="cs-carousel__inner backdrop">
			<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 cs-carousel__wrap _gx-5 js-carousel-gallery__wrap">
				<div class="col cs-carousel__item js-carousel-gallery__item">
					<article class="article article--rounded">
						<span class="article__label">Доставка</span>
						<div class="article__img"><img src="images/content/agent646f1d5b9de32.jpeg" alt="article 1" width="540" height="360" loading="lazy"></div>
						<div class="article__title h6"><a href="#">Как выбрать надёжного поставщика на сайте 1688</a>
						</div>
						<p class="article__desc">Как грамотный подход к закупкам и логистике может сократить затраты</p>
					</article>
				</div>

				<div class="col cs-carousel__item js-carousel-gallery__item">
					<article class="article article--rounded">
						<span class="article__label">Доставка</span>
						<div class="article__img"><img src="images/content/f7f473463c858a9bb871.jpeg" alt="article 2" width="534" height="360" loading="lazy"></div>
						<div class="article__title h6"><a href="#">Как мы помогли клиенту сэкономить 111 947 рублей на
							закупке и
							доставке биноклей из Китая</a></div>
						<p class="article__desc">В этом кейсе мы расскажем, как наш клиент сэкономил на закупке и
							доставке биноклей из
							Китая благодаря нашей помощи в поиске и проверке поставщиков, а также в организации
							логистики</p>
					</article>
				</div>

				<div class="col cs-carousel__item js-carousel-gallery__item">
					<article class="article article--rounded">
						<span class="article__label">Маркетплейсы</span>
						<div class="article__img"><img src="images/content/gru1611.jpg" alt="article 3" width="640" height="360" loading="lazy"></div>
						<div class="article__title h6"><a href="#">Закупили сиденья для унитаза из Китая, сэкономив
							клиенту 180 тысяч
							рублей</a></div>
						<p class="article__desc">В этом кейсе на примере Евгения мы расскажем, как найти качественные
							сиденья для унитаза в Китае по лучшей цене и сэкономить на доставке. Мы нашли выгодные
							предложения
							для нашего клиента.</p>
					</article>
				</div>

				<div class="col cs-carousel__item js-carousel-gallery__item">
					<article class="article article--rounded">
						<span class="article__label">Доставка</span>
						<div class="article__img"><img src="images/content/4236.jpg" alt="article 4" width="1000" height="668" loading="lazy"></div>
						<div class="article__title h6"><a href="#">Карго из Китая: что это и как выбрать надежного
							перевозчика?</a></div>
						<p class="article__desc">В этом кейсе на примере Евгения мы расскажем, как найти качественные
							сиденья для унитаза в Китае по лучшей цене и сэкономить на доставке. Мы нашли выгодные
							предложения
							для нашего клиента.</p>
					</article>
				</div>

				<div class="col cs-carousel__item js-carousel-gallery__item">
					<article class="article article--rounded">
						<span class="article__label">Маркетплейсы</span>
						<div class="article__img"><img src="images/content/case-2.jpg" alt="article 3" width="640" height="360" loading="lazy"></div>
						<div class="article__title h6"><a href="#">Закупили сиденья для унитаза из Китая, сэкономив
							клиенту 180 тысяч
							рублей</a></div>
						<p class="article__desc">В этом кейсе на примере Евгения мы расскажем</p>
					</article>
				</div>

				<div class="col cs-carousel__item js-carousel-gallery__item">
					<article class="article article--rounded">
						<span class="article__label">Доставка</span>
						<div class="article__img"><img src="images/content/case-1.jpg" alt="article 4" width="1000" height="668" loading="lazy"></div>
						<div class="article__title h6"><a href="#">Карго из Китая: что это и как выбрать надежного
							перевозчика?</a></div>
						<p class="article__desc">В этом кейсе на примере Евгения мы расскажем, как найти качественные
							сиденья для унитаза в Китае по лучшей цене и сэкономить на доставке. Мы нашли выгодные
							предложения
							для нашего клиента.</p>
					</article>
				</div>
			</div>
		</div>
		<button class="carousel-control-prev js-carousel-gallery__arrow" type="button" data-type="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Предыдущий</span>
		</button>
		<button class="carousel-control-next js-carousel-gallery__arrow" type="button" data-type="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Следующий</span>
		</button>
	</div>
</section>