<section class="oversize row row-cols-3">
	<article class="article col">
		<div class="article__img"><img src="images/content/case-1.jpg" alt="article 1" width="1600" height="900" loading="lazy"></div>
		<div class="article__title h6"><a href="#">Как Рустам сэкономил 426 137,60 рублей на закупке салфеток в
			Китае</a></div>
		<p class="article__desc">Как грамотный подход к закупкам и логистике может сократить затраты</p>
	</article>

	<article class="article col">
		<div class="article__img"><img src="images/content/case-2.jpg" alt="article 2" width="1600" height="900" loading="lazy"></div>
		<div class="article__title h6"><a href="#">Как мы помогли клиенту сэкономить 111 947 рублей на закупке и
			доставке биноклей из Китая</a></div>
		<p class="article__desc">В этом кейсе мы расскажем, как наш клиент сэкономил на закупке и доставке биноклей из
			Китая благодаря нашей помощи в поиске и проверке поставщиков, а также в организации логистики</p>
	</article>

	<article class="article col">
		<div class="article__img"><img src="images/content/case-3.jpg" alt="article 3" width="1600" height="900" loading="lazy"></div>
		<div class="article__title h6"><a href="#">Закупили сиденья для унитаза из Китая, сэкономив клиенту 180 тысяч
			рублей</a></div>
		<p class="article__desc">В этом кейсе на примере Евгения мы расскажем, как найти качественные
			сиденья для унитаза в Китае по лучшей цене и сэкономить на доставке. Мы нашли выгодные предложения
			для нашего клиента.</p>
	</article>
</section>