<section class="transport-box transport-box--dark transport-box--page">
	<div class="container-sm">
		<div class="transport-box__inner">
			<div class="transport-box__badge-top transport-box__badge-top--alt bg-primary text-center text-md-start">Быстро | надежно | выгодно</div>
			<div class="transport-box__title text-sm-center text-md-start mx-sm-auto ms-md-0 me-md-0">
				<h2>Автодоставка из&nbsp;Китая в&nbsp;Россию</h2>
			</div>
			<div class="transport-box__desc text-sm-center text-md-start me-md-0">
				Разработаем оптимальный маршрут и выберем наиболее подходящий транспорт для каждого клиента.
				Надежные и быстрые услуги по автомобильной перевозке грузов из Китая в Россию. Обеспечим безопасность и
				сохранность ваших товаров на каждом этапе пути.
			</div>
			<div class="transport-box__holder d-sm-none"></div>
			<!--<div class="transport-box__img" style="background-image: url('images/aviatransport.png')"></div>-->
			<div class="transport-box-attr mt-auto mb-md-6 mb-lg-3 me-md-0">
				<div class="transport-box-attr__col">
					<div class="transport-box-attr__key order-sm-1 order-md-0">Минимальный вес груза:</div>
					<div class="transport-box-attr__value"><span>30</span>&nbsp;кг</div>
				</div>
				<div class="transport-box-attr__col">
					<div class="transport-box-attr__key order-sm-1 order-md-0">Срок доставки:</div>
					<div class="transport-box-attr__value"><span>9-25</span>&nbsp;дней</div>
				</div>
				<div class="transport-box-attr__col">
					<div class="transport-box-attr__key order-sm-1 order-md-0">Стоимость доставки:</div>
					<div class="transport-box-attr__value">от&nbsp;<span>1.5$</span></div>
				</div>
			</div>
			<div class="transport-box-btn d-block text-sm-center text-md-start -mb-auto mt-5 mt-md-0">
				<button class="transport-box-btn__item btn btn-secondary btn-lg">Сделать расчет доставки за 10 минут</button>
			</div>
		</div>
	</div>

	<div class="transport-box__bg">
		<img src="images/content/avtoperevozki-page.jpg"
			 srcset="images/content/avtoperevozki-page__xs.jpg 639w, images/content/avtoperevozki-page.jpg"
			 loading="lazy" class="" decoding="async">
	</div>
</section>