<section class="form-box text-light container-md px-0 px-sm-4 pb-5" style="--cs-form-box-bg:url('/images/seatransport.png')">
  {{> quiz-form baseClass='quiz-form--bordered bg-primary text-light mb-5 form-box__quiz' classVar='basic' id='form-box'}}
  <div class="form-box__sup">**Стоимость доставки одного контейнера зависит от его объема и маршрута. Наши специалисты помогут
    вам рассчитать точные затраты и предложат наиболее выгодные условия. Морская перевозка из Китая
    в Россию обычно занимает от 20 до 45 дней, в зависимости от порта отправки и конечного пункта назначения.</div>
</section>