<section class="features-box container-md text-light my-3">
	<div class="features-box-item item-1 bg-secondary" style="--cs-features-bg: url('images/content/features-1.webp')">
		<div class="features-box-item__title">Страхуем каждый груз</div>
		<p>В случае каких-то неурядиц, что бывает крайне редко, мы выплачиваем стоимость товара, который повредился или
			не доехал</p>
	</div>
	<div class="features-box-item item-2 bg-secondary">
		<div class="features-box-item__title"></div>
		<p>Мы контролируем каждый этап доставки, обеспечивая безопасность и сохранность вашего груза.</p>
	</div>
	<div class="features-box-item item-3 bg-secondary">
		<div class="features-box-item__title"></div>
		<p>Бесплатно подберём поставщика на самых выгодных условиях</p>
	</div>
	<div class="features-box-item item-4 bg-secondary" style="--cs-features-bg: url('images/content/features-3.webp')">
		<div class="features-box-item__title"></div>
		<p>Тщательно разработаем маршрут, чтобы обеспечить минимальные сроки доставки</p>
	</div>
	<div class="features-box-item item-5 bg-secondary" style="--cs-features-bg: url('images/content/features-2.webp')">
		<div class="features-box-item__title">Доставим до двери</div>
		<p>Мы обеспечиваем полную безопасность и сохранность груза, контролируя весь процесс доставки от момента
			загрузки до передачи груза клиенту.</p>
	</div>
</section>