<div class="iconed-list row row-cols-1 row-cols-md-3 row-cols-lg-4">
	<dl class="iconed-list-item col">
		<dt class="iconed-list-item__head">
			<span class="iconed-list-item__img"><img src="images/icons/icon-1.svg" width="40" height="40" loading="lazy"></span>
			<span>Бесплатно найдем и выкупим товар</span>
		</dt>
		<dd class="iconed-list-item__desc">Мы находим поставщиков, необходимые товары и ведем переговоры без
			дополнительных затрат для вас
		</dd>
	</dl>

	<dl class="iconed-list-item col">
		<dt class="iconed-list-item__head">
			<span class="iconed-list-item__img"><img src="images/icons/icon-2.svg" width="40" height="40" loading="lazy"></span>
			<span>Осуществим перевод юаней вашему поставщику</span>
		</dt>
		<dd class="iconed-list-item__desc">Отправим международный перевод по низкому курсу валют</dd>
	</dl>

	<dl class="iconed-list-item col">
		<dt class="iconed-list-item__head">
			<span class="iconed-list-item__img"><img src="images/icons/icon-3.svg" width="40" height="40" loading="lazy"></span>
			<span>Проконтролируем качество и упакуем груз</span>
		</dt>
		<dd class="iconed-list-item__desc">Перед отправкой тщательно проверим ваш товар на соответствие
			заявленным характеристикам и отсутствие брака
		</dd>
	</dl>

	<dl class="iconed-list-item col">
		<dt class="iconed-list-item__head">
			<span class="iconed-list-item__img"><img src="images/icons/icon-4.svg" width="40" height="40" loading="lazy"></span>
			<span>Никаких скрытых комиссий и платежей</span>
		</dt>
		<dd class="iconed-list-item__desc">Мы работаем без посредников, поэтому вы можете рассчитывать
			на прозрачную и справедливую стоимость услуг
		</dd>
	</dl>
</div>