<div class="container-md oversize-box" style="--cs-oversize-width: calc(100vw * 0.8 * 4)">
	<section class="oversize row row-cols-4 g-5">
		<div class="col">
			<a href="#" class="info-card info-card--thin">
				<div class="info-card__title text-dark">Авто</div>
				<picture>
					<source srcset="images/cards/card-thin-track.webp" media="(min-width: 640px)">
					<img src="images/cards/card-thin-track.webp" alt="track" width="900" height="1600"
						 class="info-card__img">
				</picture>
			</a>
		</div>
		<div class="col">
			<a href="#" class="info-card info-card--thin">
				<div class="info-card__title text-light">ЖД</div>
				<picture>
					<source srcset="images/cards/card-thin-train.webp" media="(min-width: 640px)">
					<img src="images/cards/card-thin-train.webp" alt="train" width="900" height="1600"
						 class="info-card__img">
				</picture>
			</a>
		</div>
		<div class="col">
			<a href="#" class="info-card info-card--thin">
				<div class="info-card__title text-light">Авиа</div>
				<picture>
					<source srcset="images/cards/card-thin-avia.webp" media="(min-width: 640px)">
					<img src="images/cards/card-thin-avia.webp" alt="avia" width="900" height="1600"
						 class="info-card__img">
				</picture>
			</a>
		</div>
		<div class="col">
			<a href="#" class="info-card info-card--thin">
				<div class="info-card__title text-light">Море</div>
				<picture>
					<source srcset="images/cards/card-thin-sea.webp" media="(min-width: 640px)">
					<img src="images/cards/card-thin-sea.webp" alt="sea" width="900" height="1600"
						 class="info-card__img">
				</picture>
			</a>
		</div>
	</section>
</div>