<section class="info-card-list row row-cols-1 row-cols-md-3 g-4">
	<div class="col">
		<a href="#" class="info-card">
			<div class="info-card__title text-dark">Карго доставка из китая</div>
			<picture>
				<source srcset="images/cards/card-cargo.webp" media="(min-width: 640px)">
				<img src="images/cards/card-cargo.webp" alt="cargo" width="860" height="860" class="info-card__img">
			</picture>
		</a>
	</div>

	<div class="col">
		<a class="info-card" href="#">
			<div class="info-card__title text-light">Авиадоставка</div>
			<picture>
				<source srcset="images/cards/card-avia.webp" media="(min-width: 640px)">
				<img src="images/cards/card-avia.webp" alt="cargo" width="860" height="860" class="info-card__img">
			</picture>
		</a>
	</div>

	<div class="col">
		<a href="#" class="info-card">
			<div class="info-card__title text-light">Автодоставка</div>
			<picture>
				<source srcset="images/cards/card-track.webp" media="(min-width: 640px)">
				<img src="images/cards/card-track.webp" alt="cargo" width="860" height="860" class="info-card__img">
			</picture>
		</a>
	</div>

	<div class="col">
		<a href="#" class="info-card">
			<div class="info-card__title text-light">Железнодорожная доставка</div>
			<picture>
				<source srcset="images/cards/card-train.webp" media="(min-width: 640px)">
				<img src="images/cards/card-train.webp" alt="cargo" width="860" height="860" class="info-card__img">
			</picture>
		</a>
	</div>

	<div class="col">
		<a href="#" class="info-card">
			<div class="info-card__title text-light">Доставка по морю</div>
			<picture>
				<source srcset="images/cards/card-sea.webp" media="(min-width: 640px)">
				<img src="images/cards/card-sea.webp" alt="cargo" width="860" height="860" class="info-card__img">
			</picture>
		</a>
	</div>

	<div class="col">
		<a href="#" class="info-card">
			<div class="info-card__title text-light">Мультимодальные перевозки</div>
			<picture>
				<source srcset="images/cards/card-multi.webp" media="(min-width: 640px)">
				<img src="images/cards/card-multi.webp" alt="cargo" width="860" height="860" class="info-card__img">
			</picture>
		</a>
	</div>
</section>