<div class="oversize-box" style="--cs-oversize-width: 140vw">
	<section class="insta-box pb-5 pb-md-0 oversize">
		<div class="insta-box__item item-1" style="background-image: url('/images/insta/insta-gif-001.gif')"></div>
		<div class="insta-box__item item-2" style="background-image: url('/images/insta/insta-img-001.jpg')"></div>
		<div class="insta-box__item item-3" style="background-image: url('/images/insta/insta-img-002.jpg')"></div>
		<div class="insta-box__item item-4" style="background-image: url('/images/insta/insta-img-003.jpg')"></div>
		<div class="insta-box__item item-5" style="background-image: url('/images/insta/insta-img-004.png')"></div>
		<div class="insta-box__item item-6" style="background-image: url('/images/insta/insta-gif-002.gif')"></div>
		<div class="insta-box__item item-7" style="background-image: url('/images/insta/insta-img-005.png')"></div>
		<div class="insta-box__item item-8" style="background-image: url('/images/insta/insta-gif-003.gif')"></div>
	</section>
</div>
