<section class="nums-map mx-auto row">
	<div class="col-8 d-sm-none">
		<img class="nums-map__img" src="images/eurasia-map.svg" width="1160" height="603" alt="eurasia map" loading="lazy">
	</div>
	<div class="col-7 col-sm-8 mx-auto text-sm-center text-md-start">
		<h2>Компания в цифрах</h2>
	</div>
	<div class="col-7 col-sm-8 mx-auto text-sm-center text-md-start order-md-last">
		<p class="nums-map__desc mx-auto ms-md-0">Оказываем весь спектр услуг по работе с китайскими производителями: от
			поиска фабрик и заводов,
			оптовых закупок до размещения производства с полным контролем качества на всех этапах</p>
	</div>
	<div class="nums-map__badges col-8">
		<img class="nums-map__img d-none d-sm-block" src="images/eurasia-map.svg" width="1160" height="603"
			 alt="eurasia map" loading="lazy">
		<ul class="nums-map__list list-unstyled d-flex flex-column gap-3">
			<li class="nums-map__badge badge bg-primary">1000+ контактов с китайскими производителями</li>
			<li class="nums-map__badge badge bg-primary">5+ лет опыта</li>
			<li class="nums-map__badge badge bg-primary">500+ клиентов</li>
			<li class="nums-map__badge badge bg-primary">35 человек в команде</li>
			<li class="nums-map__badge badge bg-primary">от 80 тонн в месяц</li>
		</ul>
	</div>
</section>