<section class="phrases-box bg-primary py-3">
	<div class="phrases-box-line d-flex flex-nowrap mb-1">
		{{#each iter2}}
		<ul class="phrases-box-list list-unstyled">
			<li class="btn btn-link phrases-box-list__item">сельскохозяйственные товары</li>
			<li class="btn btn-link phrases-box-list__item">гаджеты</li>
			<li class="btn btn-link phrases-box-list__item">материалы для строительства и ремонта</li>
			<li class="btn btn-link phrases-box-list__item">промышленное оборудование</li>
			<li class="btn btn-link phrases-box-list__item">смартфоны</li>
			<li class="btn btn-link phrases-box-list__item">автозапчасти</li>
			<li class="btn btn-link phrases-box-list__item">техника для дома и офиса</li>
			<li class="btn btn-link phrases-box-list__item">ноутбуки</li>
			<li class="btn btn-link phrases-box-list__item">нетбуки</li>
			<li class="btn btn-link phrases-box-list__item">смарт-часы</li>
			<li class="btn btn-link phrases-box-list__item">электронные сигареты</li>
			<li class="btn btn-link phrases-box-list__item">фитнес-браслеты</li>
		</ul>
		{{/each}}
	</div>
</section>