<section class="phrases-box bg-primary py-3 mt-4">
	<div class="phrases-box-line d-flex flex-nowrap mb-1">
		{{#each iter2}}
		<ul class="phrases-box-list list-unstyled">
			<li class="btn btn-link phrases-box-list__item">Работаем без комиссии</li>
			<li class="btn btn-link phrases-box-list__item">Бесплатно найдём поставщика</li>
			<li class="btn btn-link phrases-box-list__item">Низкий курс валют</li>
			<li class="btn btn-link phrases-box-list__item">Упакуем и подготовим к отправке</li>
		</ul>
		{{/each}}
	</div>
</section>