<section class="phrases-box bg-secondary py-8 margin-box">
	<div class="container title-box title-box-sm-center title-box-light my-7" data-zoom="xs">
		<div class="h2">Привезем любой товар</div>
		<p>Наши клиенты — продавцы на маркетплейсах, оптовые и розничные торговые сети, малые и средние предприятия</p>
	</div>

	<div class="phrases-box-line d-flex flex-nowrap mb-1">
		{{#each iter2}}
		<ul class="phrases-box-list list-unstyled">
			<li class="btn btn-outline-light phrases-box-list__item rounded-pill">сельскохозяйственные товары</li>
			<li class="btn btn-outline-light phrases-box-list__item rounded-pill">гаджеты</li>
			<li class="btn btn-outline-light phrases-box-list__item rounded-pill">материалы для строительства и
				ремонта
			</li>
			<li class="btn btn-outline-light phrases-box-list__item rounded-pill">промышленное оборудование</li>
			<li class="btn btn-outline-light phrases-box-list__item rounded-pill">смартфоны</li>
			<li class="btn btn-outline-light phrases-box-list__item rounded-pill">автозапчасти</li>
			<li class="btn btn-outline-light phrases-box-list__item rounded-pill">техника для дома и офиса</li>
			<li class="btn btn-outline-light phrases-box-list__item rounded-pill">ноутбуки</li>
			<li class="btn btn-outline-light phrases-box-list__item rounded-pill">нетбуки</li>
			<li class="btn btn-outline-light phrases-box-list__item rounded-pill">смарт-часы</li>
			<li class="btn btn-outline-light phrases-box-list__item rounded-pill">электронные сигареты</li>
			<li class="btn btn-outline-light phrases-box-list__item rounded-pill">фитнес-браслеты</li>
		</ul>
		{{/each}}
	</div>
	<div class="phrases-box-line d-flex flex-nowrap mb-1">
		{{#each iter2}}
		<ul class="phrases-box-list reverse list-unstyled">
			<li class="btn btn-outline-light phrases-box-list__item rounded-pill">промышленное оборудование</li>
			<li class="btn btn-outline-light phrases-box-list__item rounded-pill">гаджеты</li>
			<li class="btn btn-outline-light phrases-box-list__item rounded-pill">материалы для строительства и
				ремонта
			</li>
			<li class="btn btn-outline-light phrases-box-list__item rounded-pill">смартфоны</li>
			<li class="btn btn-outline-light phrases-box-list__item rounded-pill">автозапчасти</li>
			<li class="btn btn-outline-light phrases-box-list__item rounded-pill">сельскохозяйственные товары</li>
			<li class="btn btn-outline-light phrases-box-list__item rounded-pill">техника для дома и офиса</li>
			<li class="btn btn-outline-light phrases-box-list__item rounded-pill">ноутбуки</li>
			<li class="btn btn-outline-light phrases-box-list__item rounded-pill">нетбуки</li>
			<li class="btn btn-outline-light phrases-box-list__item rounded-pill">смарт-часы</li>
			<li class="btn btn-outline-light phrases-box-list__item rounded-pill">электронные сигареты</li>
			<li class="btn btn-outline-light phrases-box-list__item rounded-pill">фитнес-браслеты</li>
		</ul>
		{{/each}}
	</div>
	<div class="phrases-box-line d-flex flex-nowrap mb-1">
		{{#each iter2}}
		<ul class="phrases-box-list list-unstyled">
			<li class="btn btn-outline-light phrases-box-list__item rounded-pill">техника для дома и офиса</li>
			<li class="btn btn-outline-light phrases-box-list__item rounded-pill">материалы для строительства и
				ремонта
			</li>
			<li class="btn btn-outline-light phrases-box-list__item rounded-pill">промышленное оборудование</li>
			<li class="btn btn-outline-light phrases-box-list__item rounded-pill">гаджеты</li>
			<li class="btn btn-outline-light phrases-box-list__item rounded-pill">смартфоны</li>
			<li class="btn btn-outline-light phrases-box-list__item rounded-pill">фитнес-браслеты</li>
			<li class="btn btn-outline-light phrases-box-list__item rounded-pill">ноутбуки</li>
			<li class="btn btn-outline-light phrases-box-list__item rounded-pill">нетбуки</li>
			<li class="btn btn-outline-light phrases-box-list__item rounded-pill">смарт-часы</li>
			<li class="btn btn-outline-light phrases-box-list__item rounded-pill">автозапчасти</li>
			<li class="btn btn-outline-light phrases-box-list__item rounded-pill">сельскохозяйственные товары</li>
			<li class="btn btn-outline-light phrases-box-list__item rounded-pill">электронные сигареты</li>

		</ul>
		{{/each}}
	</div>
	<div class="phrases-box-line d-flex flex-nowrap">
		{{#each iter2}}
		<ul class="phrases-box-list reverse list-unstyled">
			<li class="btn btn-outline-light phrases-box-list__item rounded-pill">техника для дома и офиса</li>
			<li class="btn btn-outline-light phrases-box-list__item rounded-pill">промышленное оборудование</li>
			<li class="btn btn-outline-light phrases-box-list__item rounded-pill">гаджеты</li>
			<li class="btn btn-outline-light phrases-box-list__item rounded-pill">смартфоны</li>
			<li class="btn btn-outline-light phrases-box-list__item rounded-pill">фитнес-браслеты</li>
			<li class="btn btn-outline-light phrases-box-list__item rounded-pill">нетбуки</li>
			<li class="btn btn-outline-light phrases-box-list__item rounded-pill">смарт-часы</li>
			<li class="btn btn-outline-light phrases-box-list__item rounded-pill">автозапчасти</li>
			<li class="btn btn-outline-light phrases-box-list__item rounded-pill">сельскохозяйственные товары</li>
			<li class="btn btn-outline-light phrases-box-list__item rounded-pill">электронные сигареты</li>
		</ul>
		{{/each}}
	</div>
	<div class="pb-7"></div>
</section>