{{setVar 'quiz_inputClass' ''}}
{{setVar 'quiz_selectClass' ''}}
{{setVar 'quiz_selectOptionClass' ''}}

{{#if (eq classVar 'basic')}}
	{{setVar 'quiz_inputClass' 'form-control-lg'}}
	{{setVar 'quiz_selectClass' 'form-select-lg'}}
	{{setVar 'quiz_selectOptionClass' ''}}
{{else}}
	{{setVar 'quiz_inputClass' 'form-control-no-bg form-control-lg text-bg-primary'}}
	{{setVar 'quiz_selectClass' 'form-select-no-bg form-select-lg text-bg-primary'}}
	{{setVar 'quiz_selectOptionClass' 'text-bg-primary'}}
{{/if}}

<section class="quiz-form {{baseClass}}">
	<script type="text/javascript">
        function nextQuizFieldset(currentField, nextField, progress, step) {
            this.form.elements[currentField].classList.add('d-none');
            this.form.elements[nextField].classList.remove('d-none');
            this.form.querySelector('.js-progress').style.width = progress;
            this.form.querySelector('.js-progress-step').innerHTML = step;

        }

        function prevQuizFieldset(currentField, prevField, progress, step) {
            this.form.elements[currentField].classList.add('d-none');
            this.form.elements[prevField].classList.remove('d-none');
            this.form.querySelector('.js-progress').style.width = progress;
            this.form.querySelector('.js-progress-step').innerHTML = step;
        }
	</script>
	<form class="">
		<div class="quiz-form__step d-flex justify-content-between"><span>Заполните форму, чтобы узнать стоимость доставки</span><span
				class="js-progress-step">1/4</span></div>
		<div class="progress my-7" role="progressbar" aria-label="form progress" aria-valuenow="0" aria-valuemin="0"
			 aria-valuemax="100">
			<div class="progress-bar bg-secondary js-progress"></div>
		</div>
		<fieldset name="step-1">
			<div class="mb-8">
				<label for="quiz-{{id}}-input-from" class="form-label">Откуда</label>
				<select class="form-select {{@root.quiz_selectClass}}" id="quiz-{{id}}-input-from">
					<option value="1" class="{{@root.quiz_selectOptionClass}}">Гуанчжоу</option>
					<option value="2" class="{{@root.quiz_selectOptionClass}}">Иу</option>
					<option value="3" class="{{@root.quiz_selectOptionClass}}">Фошань</option>
				</select>
			</div>
			<div class="d-flex justify-content-between pt-6">
				<button type="button" class="btn btn-light" disabled>
					<i class="icon-prev"></i>Назад
				</button>
				<button type="button" class="btn btn-secondary"
						onclick="nextQuizFieldset.call(this, 'step-1', 'step-2', '25%', '2/4');">
					Далее<i class="icon-next"></i>
				</button>
			</div>
		</fieldset>
		<fieldset name="step-2" class="d-none">
			<div class="mb-8">
				<label for="quiz-{{id}}-input-to" class="form-label">Куда</label>
				<input type="text" class="form-control {{@root.quiz_inputClass}}"
					   id="quiz-{{id}}-input-to"
					   placeholder="Москва">
			</div>
			<div class="d-flex justify-content-between pt-6">
				<button type="button" class="btn btn-light"
						onclick="prevQuizFieldset.call(this, 'step-2', 'step-1', '0%', '1/4');">
					<i class="icon-prev"></i>Назад
				</button>
				<button type="button" class="btn btn-secondary"
						onclick="nextQuizFieldset.call(this, 'step-2', 'step-3', '50%', '3/4');">
					Далее<i class="icon-next"></i>
				</button>
			</div>
		</fieldset>
		<fieldset name="step-3" class="d-none">
			<div class="mb-8">
				<label for="quiz-{{id}}-input-type" class="form-label">Вид товара</label>
				<select class="form-select {{@root.quiz_selectClass}}" id="quiz-{{id}}-input-type">
					<option value="1" class="{{@root.quiz_selectOptionClass}}">Электроника без АКБ</option>
					<option value="2" class="{{@root.quiz_selectOptionClass}}">Электроника с АКБ</option>
					<option value="3" class="{{@root.quiz_selectOptionClass}}">Обувь, одежда, сумки</option>
					<option value="4" class="{{@root.quiz_selectOptionClass}}">Текстиль</option>
					<option value="5" class="{{@root.quiz_selectOptionClass}}">Хоз. товары</option>
					<option value="6" class="{{@root.quiz_selectOptionClass}}">Автозапчасти</option>
					<option value="7" class="{{@root.quiz_selectOptionClass}}">Оборудование и инструмент</option>
					<option value="8" class="{{@root.quiz_selectOptionClass}}">Мебель</option>
					<option value="9" class="{{@root.quiz_selectOptionClass}}">Игрушки</option>
					<option value="10" class="{{@root.quiz_selectOptionClass}}">Аксессуары</option>
					<option value="11" class="{{@root.quiz_selectOptionClass}}">Спорт. инвентарь</option>
					<option value="12" class="{{@root.quiz_selectOptionClass}}">Видеокарты</option>
					<option value="13" class="{{@root.quiz_selectOptionClass}}">Другое</option>
				</select>
			</div>
			<div class="d-flex justify-content-between pt-6">
				<button type="button" class="btn btn-light"
						onclick="prevQuizFieldset.call(this, 'step-3', 'step-2', '25%', '2/4');">
					<i class="icon-prev"></i>Назад
				</button>
				<button type="button" class="btn btn-secondary"
						onclick="nextQuizFieldset.call(this, 'step-3', 'step-4', '75%', '4/4');">
					Далее<i class="icon-next"></i>
				</button>
			</div>
		</fieldset>
		<fieldset name="step-4" class="d-none">
			<div class="mb-8">
				<label for="quiz-{{id}}-input-sizes" class="form-label">Габариты груза</label>
				<input type="text" class="form-control {{@root.quiz_inputClass}}"
					   id="quiz-{{id}}-input-sizes"
					   placeholder="Длина, см / Ширина, см / Высота, см / Масса, кг">
			</div>
			<div class="d-flex justify-content-between pt-6">
				<button type="button" class="btn btn-light"
						onclick="prevQuizFieldset.call(this, 'step-4', 'step-3', '50%', '3/4');">
					<i class="icon-prev"></i>Назад
				</button>
				<button type="button" class="btn btn-secondary"
						onclick="nextQuizFieldset.call(this, 'step-4', 'step-5', '100%', '4/4');">
					Последний вопрос<i class="icon-next"></i>
				</button>
			</div>
		</fieldset>
		<fieldset name="step-5" class="d-none">
			<div class="mb-6">
				<label for="quiz-{{id}}-input-name" class="form-label visually-hidden">Имя</label>
				<input type="text" class="form-control {{@root.quiz_inputClass}}"
					   id="quiz-{{id}}-input-name"
					   placeholder="Имя">
			</div>
			<div class="mb-6">
				<label for="quiz-{{id}}-input-phone" class="form-label visually-hidden">Телефон</label>
				<input type="text" class="form-control {{@root.quiz_inputClass}}"
					   id="quiz-{{id}}-input-phone"
					   placeholder="+7 (999) 999-99-99">
			</div>
			<div class="mb-8">
				<label for="quiz-{{id}}-input-tg" class="form-label visually-hidden">Ник в Телеграм</label>
				<input type="text" class="form-control {{@root.quiz_inputClass}}"
					   id="quiz-{{id}}-input-tg"
					   placeholder="Или ник в Телеграм">
			</div>
			<div class="d-flex justify-content-between pt-6">
				<button type="button" class="btn btn-light"
						onclick="prevQuizFieldset.call(this, 'step-5', 'step-4', '75%', '4/4');">
					<i class="icon-prev"></i>Назад
				</button>
				<button type="submit" class="btn btn-secondary">
					Узнать результат
				</button>
			</div>
		</fieldset>
	</form>
</section>