<section class="quote-box bg-secondary text-light">
	<div class="d-flex gap-5 align-items-center order-sm-last">
		<div class="quote-box__img">
			<img src="images/ivan.jpg" width="300" height="330" alt="arestov ivan" loading="lazy"/>
		</div>
		<div class="quote-box__author">
			<b>Иван Арестов</b>
			<div class="quote-box__author-desc">Основатель компании C2R&nbsp;Logistics</div>
		</div>
	</div>
	<blockquote class="quote-box__text">Я стремлюсь помочь людям увеличить прибыль в их бизнесе и достичь максимальных
		результатов. Моя&nbsp;цель — качественно выполнять свою работу, видеть довольных клиентов, которые хотят
		с нами сотрудничать на долгосрочной основе. Мы знаем, что являемся именно теми, кто им нужен для
		масштабирования их дел</blockquote>
</section>