<section class="social-box bg-secondary text-light">
	<div class="container container-sm-thin">
		<div class="row justify-content-sm-center">
			<div class="col-8 col-md-5 text-sm-center text-md-start">
				<h2>Узнавайте первыми о&nbsp;выгодных предложениях из&nbsp;Китая!</h2>
				<p class="pt-3 pe-lg-8">Подпишитесь на наши социальные сети и не упустите возможность первыми узнавать о
					горячих акциях
					и эксклюзивных товарах! Присоединяйтесь к нам сегодня и погружайтесь в мир китайского шопинга вместе
					с нами</p>
				<div class="social-box__links d-flex justify-content-sm-center justify-content-md-start gap-3 pt-5 pt-sm-0 pt-lg-5">
					<a href="//vk.com/c2rlogistics" style="background-image: url('images/icons/vk.svg')">vk.com/c2rlogistics</a>
					<a href="//t.me/C2R_Logistics" style="background-image: url('images/icons/tg.svg')">t.me/C2R_Logistics</a>
					<a href="//dzen.ru/c2rlogistic" style="background-image: url('images/icons/zen.png')">dzen.ru/c2rlogistic</a>
				</div>
			</div>
			<div class="col-8 col-md-3 mt-5 mt-sm-8">
				<div class="social-box__smartphone mt-sm-8"></div>
			</div>
		</div>
	</div>
</section>