@use "sass:math";

$cs-breakpoint-xs: 0;
$cs-breakpoint-sm: 640;
$cs-breakpoint-md: 960;
$cs-breakpoint-lg: 1200;


$primary:       #1a75bb;
$secondary:     #d60628;
$tertiary:      #fcfcfc;
$quaternary:    #1b2340;
$light:         #fcfcfc;
$success:       #ed6b2a;
$dark:          #1b2340;

$quinary:       #0000EE;
$accent:        #1183D3;


//$link-color:    $success;

$gray-900: #212529;
$body-color: $quaternary;
$body-bg: $tertiary;

$font-family-sans-serif:  'Montserrat', Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

$theme-colors: (
        "primary":    $primary,
        "secondary":  $secondary,
        "tertiary":   $tertiary,
        "quaternary": $quaternary,
        "quinary":    $quinary,
        "accent":     $accent,
        "success":    $success,
        "dark":       $dark,
        "light":      $light,
);

$prefix:                      bs-;

$grid-breakpoints: (
        xs: $cs-breakpoint-xs,
        sm: $cs-breakpoint-sm * 1px,
        md: $cs-breakpoint-md * 1px,
        lg: $cs-breakpoint-lg * 1px,
);

$container-max-widths: (
        sm: 510px,
        md: 972px,
        lg: 1192px,
);
$grid-columns:                8;
$grid-gutter-width:           2rem;
$grid-row-columns:            4;

$spacer: 1rem;
$spacers: (
        0: 0px,
        1: $spacer * .25,
        2: $spacer * .5,
        3: $spacer * .75,
        4: $spacer,
        5: $spacer * 1.5,
        6: $spacer * 2,
        7: $spacer * 2.5,
        8: $spacer * 3,
);

$small-font-size:             #{math.div(11, 16)}rem;

$headings-font-weight:        700;
$headings-line-height:        1.1;

$btn-padding-y:               #{math.div(15, 16)}rem;
$btn-padding-x:               1rem;
$btn-font-size:               #{math.div(14, 16)}rem; //14px

$btn-padding-y-sm:            #{math.div(12, 16)}rem;
$btn-padding-x-sm:            1rem;
$btn-font-size-sm:            $btn-font-size;

$btn-padding-y-lg:            #{math.div(17, 16)}rem;
$btn-padding-x-lg:            1.5rem;
//$btn-font-size-lg:            #{math.div(12, 16)}rem;
$btn-font-size-lg:            $btn-font-size;

$btn-line-height: 1;
$btn-font-weight:             600;

$btn-border-radius:           #{math.div(6, 16)}rem;
$btn-border-radius-sm:        $btn-border-radius;
$btn-border-radius-lg:        $btn-border-radius;

$input-border-color: $dark;
$input-font-size-lg:                    1rem;
$input-btn-padding-y-lg:      .75rem;
$input-placeholder-color:      rgba($dark, .6);

$icon-link-gap:               .5rem;

//$form-select-indicator: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='#000000' viewBox='0 0 24 24'><path d='M6.5,8.5l6,7l6-7H6.5z'/></svg>");
$form-select-indicator: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#FFF'><polygon points='8,11 3,6 13,6'/></svg>");//fill='transparent' filter='invert(100%)'
$form-select-bg-size: 16px 16px;

$badge-font-size:     .5em;
$badge-font-weight:   600;
$badge-border-radius: 50rem;
$badge-padding-y:     .6em;
$badge-padding-x:     1em;

$carousel-control-color:             $dark;
$carousel-control-opacity: 1;
$carousel-control-width:             auto;
$carousel-control-icon-width:        #{math.div(40, 16)}rem;

$progress-border-radius:            50rem;

@import "~bootstrap/scss/mixins/banner";
@include bsBanner("");

// scss-docs-start import-stack
// Configuration

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/variables-dark";
@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";

// Layout & components
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
body {
  overflow-x: hidden;
}
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";

.form-select-no-bg {
  $form-select-bg:                    transparent;
  $form-select-border-width: 1px;
  $form-select-border-color: #b3b3b3;
  $form-select-padding-x: 0;
  $form-select-padding-x-lg: 0;
  $form-select-focus-border-color: transparent;
  $form-select-bg-position:           right $form-select-padding-x center;
  //--#{$prefix}form-select-bg-img: #{escape-svg($form-select-indicator)};

  padding: $form-select-padding-y $form-select-indicator-padding $form-select-padding-y $form-select-padding-x;
  background-color: $form-select-bg;
  background-size: $form-select-bg-size;
  background-position: $form-select-bg-position;
  border-color: transparent;
  border-width: $form-select-border-width;
  border-bottom: $form-select-border-width solid $form-select-border-color;
  border-radius: 0;

  &:focus {
    border-color: transparent;
    border-bottom: $form-select-border-width solid $form-select-border-color;
  }

  &.form-select-lg {
    padding-top: $form-select-padding-y-lg;
    padding-bottom: $form-select-padding-y-lg;
    padding-left: $form-select-padding-x-lg;
    border-radius: 0;
  }
}

.form-control-no-bg {
  $input-border-color: #b3b3b3;
  $input-padding-x: 0;

  padding: $input-padding-y $input-padding-x;
  background-color: transparent;
  border-color: transparent;
  border-bottom: $input-border-width solid $input-border-color;
  border-radius: 0;

  &:focus {
    background-color: transparent;
    border-color: transparent;
    border-bottom: $input-border-width solid $input-border-color;
  }


}

@import "~bootstrap/scss/buttons";

@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/accordion";
@import "~bootstrap/scss/breadcrumb";
@import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/badge";
.badge {
  display: table;
}

@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/progress";
.progress-bar {
  border-radius: var(--#{$prefix}progress-border-radius);
}

@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/toasts";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/tooltip";
@import "~bootstrap/scss/popover";
@import "~bootstrap/scss/carousel";
.carousel-control-prev,
.carousel-control-next {
  top: calc(50% - $carousel-control-icon-width/2);
  bottom: auto;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: $light;
  border-radius: 50rem;
  background-size: 50%;
}

@include media-breakpoint-up(md) {
  .carousel-control-prev {
    margin-left: -3rem;
  }
  .carousel-control-next {
    margin-right: -3rem;
  }
}

@import "~bootstrap/scss/spinners";
@import "~bootstrap/scss/offcanvas";
@import "~bootstrap/scss/placeholders";

// Helpers
@import "~bootstrap/scss/helpers";

// Utilities
@import "~bootstrap/scss/utilities/api";
// scss-docs-end import-stack

:root {
  --cs-breakpoint-max: #{$cs-breakpoint-sm - 1};
  @include media-breakpoint-up(sm) {
    --cs-breakpoint-max: #{$cs-breakpoint-md - 1};
  }
  @include media-breakpoint-up(md) {
    --cs-breakpoint-max: #{$cs-breakpoint-lg - 1};
  }
}

@import "block/carousel";
@import "block/main-card";
@import "block/transport-box";
@import "block/iconed-list";
@import "block/quote-box";
@import "block/nums-map";
@import "block/insta-box";
@import "block/phrases-box";
@import "block/articles";
@import "block/social-box";
@import "block/contact-box";
@import "block/quiz-form";
@import "block/info-card";
@import "block/features-box";

.icon-prev:before, .icon-next:before {
  position: relative;
  font-size: 1.125rem;
  font-style: normal;
  line-height: 0;
}
.icon-next:before {
  content: " →";
}
.icon-prev:before {
  content: "← ";
}


@keyframes scroll-x-to-left {
  0% {
    transform: translateX(0);
    animation-timing-function: linear;
  }
  100% {
    transform: translateX(-100%);
  }
}